<% flash.each do |key, message| %>
  <div><%= message %></div>
<% end %>

<h1>Recipes</h1>
<%= form_with(url: recipes_path, method: :get, local: true) do %>
  <%= label_tag :ingredients, "Enter ingredients (comma-separated):" %>
  <%= text_field_tag :ingredients, '', size: 100 %>
  <div>Optional:</div>
  <div>
    <%= label_tag :max_cook_time, "Max cooking time (in min):" %>
    <%= text_field_tag :max_cook_time %>
    <br>
    <%= label_tag :max_cook_time, "Max preparation time (in min):" %>
    <%= text_field_tag :max_prep_time %>
    <br>
    <%= label_tag :min_ratings, "Min rating:" %>
    <%= text_field_tag :min_ratings %>
  </div>
  
  <%= submit_tag "Search" %>
<% end %>
<br>
<div id="pagination">
    <%= render "pagination", pagy: @pagy %>
</div>
<%== pagy_info(@pagy) %>
<br>
<div data-controller="recipe-sort">
    <button data-action="click->recipe-sort#toggleSort" data-sort-by="ratings" data-current-order="<%= params[:order] == 'desc' ? 'asc' : 'desc' %>">Sort by Ratings</button>
    <button data-action="click->recipe-sort#toggleSort" data-sort-by="cook_time" data-current-order="<%= params[:order] == 'asc' ? 'desc' : 'asc' %>">Sort by Cook Time</button>
    <button data-action="click->recipe-sort#toggleSort" data-sort-by="prep_time" data-current-order="<%= params[:order] == 'asc' ? 'desc' : 'asc' %>">Sort by Prep Time</button>
</div>
<br>
<div  id="recipe-list">
    <%= render "recipe_list", recipes: @recipes %>
</div>