<% flash.each do |key, message| %>
  <div><%= message %></div>
<% end %>

<h1>Recipes</h1>
<%= form_with(url: recipes_path, method: :get, local: true) do %>
  <%= label_tag :ingredients, "Enter ingredients (comma-separated):" %>
  <%= text_field_tag :ingredients, '', size: 100 %>
  <div>Optional:</div>
  <div>
    <%= label_tag :max_cook_time, "Max cooking time (in min):" %>
    <%= text_field_tag :max_cook_time %>
    <br>
    <%= label_tag :max_cook_time, "Max preparation time (in min):" %>
    <%= text_field_tag :max_prep_time %>
    <br>
    <%= label_tag :min_ratings, "Min rating:" %>
    <%= text_field_tag :min_ratings %>
  </div>
  
  <%= submit_tag "Search" %>
<% end %>
<br>
<%== pagy_nav(@pagy) if @pagy.pages > 1 %>
<%== pagy_info(@pagy) %>
<br>
<ul>
    <% @recipes.each do |recipe| %>
    <li>
      <strong>Title:</strong> <%= recipe.title %><br>
      <strong>Cook Time:</strong> <%= recipe.cook_time %> minutes<br>
      <strong>Prep Time:</strong> <%= recipe.prep_time %> minutes<br>
      <strong>Ingredients:</strong>
      <ul>
        <% recipe.ingredients.each do |ingredient| %>
          <li><%= ingredient.name %></li>
        <% end %>
      </ul>
      <strong>Ratings:</strong> <%= recipe.ratings %><br>
      <strong>Author:</strong> <%= recipe.author %><br>
    </li>
  <% end %>
</ul>